
<title>Image Capture</title>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<h1>Image Capture </h1><br>
<body>

<nav class="navbar navbar-default">
   <div class="container-fluid">
     <ul class="nav navbar-nav">


<li><a href="/imagecapture">Start Capturing Image</a><br><br>
  
</ul>
</div>
</nav>
</body>
